@import './variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-md);
  color: var(--color-black);
  background-color: var(--color-white);
}
